# Core Python development tools
black
isort
ruff
pynvim

# Common scientific / ML / data packages
absl-py
aiohttp
aiosignal
anyio
appnope
argon2-cffi
arrow
asttokens
astunparse
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
comm
contourpy
cycler
datasets
debugpy
decorator
defusedxml
dill
executing
fastjsonschema
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gast
google-pasta
grpcio
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
isoduration
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter-events
jupyter-lsp

